$dark:#2C2D32;
$white: #fff;
$secondary: #6f9be8;

$theme-colors: (
    "primary": #FF765A,
    "dark": $dark,
    "white": $white,
    "secondary": $secondary,
);



$font-family-sans-serif:  'Roboto', sans-serif;

$input-border-radius:  30px;
$input-border-radius-lg: 30px;
$input-border-radius-sm:  30px;

// Allows for customizing button radius independently from global border radius
$btn-padding-y:           15px;
$btn-padding-x:            50px;
$input-font-size-lg:  16px;
$input-padding-x-lg: 25px;
$input-padding-y-lg: 15px;
$btn-border-radius:          100px;
$btn-border-radius-lg:        100px;
$btn-border-radius-sm:         100px;

$btn-padding-y-lg:           15px;
$btn-padding-x-lg:            50px;
$btn-font-size-lg:           28px;

$body-bg:                  $dark;
$body-color:                $white;


$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1340px
) !default;

/**cards*/
$card-border-radius:                25px;
$card-color:                        $white;
$card-bg:                           darken($dark,1.5%);
$card-spacer-y:                     1.75rem !default;
$card-spacer-x:                     2.25rem !default;


//tables

$table-dark-bg:               darken($dark,1.2%);
$table-dark-accent-bg:        rgba($white, .05) !default;

$table-dark-hover-bg:         rgba($white, .075) !default;
$table-dark-border-color:     lighten($dark,1.2%);
$table-cell-padding:          1.1rem ;


//list groups
$list-group-color:                  $white;
$list-group-bg:                     darken($dark,.2%);
$list-group-border-color:           lighten($dark, 5%);
$list-group-border-width:           1px;
$list-group-border-radius:         0;


@import "node_modules/bootstrap/scss/bootstrap";



body {
   padding-top: 145px;   
   overflow-x: hidden;
   
   background: url('../../img/bg-left.svg')  left 20vh no-repeat, url('../../img/bg-right.svg') right 35vh no-repeat;
   background-attachment: fixed;
   background-size: 15vw ,15vw;
   background-color: $dark;
   
   
}

.btn-primary{
    color:$white
}

@media (min-width:768px){
.btn{
    min-width: 200px;
}
}


.navbar {    
    text-transform: uppercase;
    
    .nav-item{
        margin: 0 10px;
        font-size: 14px;
        font-weight: 500;
        letter-spacing: 1px;
        @media (max-width:768px){
            margin: 10px auto;
        }
    }
}

.navbar-brand{
    img{
        width:  clamp(50px, 180px, 25vw); 
    }
}

.line-gradient{
    height: 2px;
    margin: 0 15%;
    width: 70%;
    position: absolute;
    bottom: 0px;
}

.bg-gradient {
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#2c2e34+0,ff765a+26,ff765a+49,ff765a+71,2c2e34+100 */
background: #2c2e34; /* Old browsers */
background: -moz-linear-gradient(left,  #2c2e34 0%, #ff765a 26%, #ff765a 49%, #ff765a 71%, #2c2e34 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  #2c2e34 0%,#ff765a 26%,#ff765a 49%,#ff765a 71%,#2c2e34 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  #2c2e34 0%,#ff765a 26%,#ff765a 49%,#ff765a 71%,#2c2e34 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2c2e34', endColorstr='#2c2e34',GradientType=1 ); /* IE6-9 */

}

@media (min-width:768px){
    .main{
        margin-top: 150px;
    }
}/**/

.img-chart{
    margin-right: -85px;
}

.counter{
    position: relative;
    text-align: center;
}
.bullet-points{
    position: absolute;
    width: 100%;
    top: 45px;
    left: 0;
}

@media (max-width:768px){
    .counter{
        text-align: left;
        
        .h1{
            font-size: 24px;
        }
    }
    .bullet-points{
        transform: rotate(-90deg);
        top: 45%;
        left: -50%;
    }

} /**/


.col-line{
    position: relative;
}



.icon-menu{
    width: 12vw;
}
//*login/*

section.login{
    margin-top: 150px;
}

@media (min-width:768px){
    .login {
        margin-top: 200px!important;
    }
}/**/


.iso{
    max-width: 50px;
}

.form-login{
    max-width: 300px;
    margin:0 auto;
}

.icon-arrow{
    max-width: 15px;
    margin-left: 20px;
}


/*page home*/

.section-block{
    padding: 15vh 0;
}

.features-list{
    ul{
        padding: 0;
        margin: 0;
        li{
            font-size: clamp(18px, 1.6vw, 54px) ;
            display: block;           
            margin: 5vh auto;
            color: rgba($white, .6);

            & + li{
                &:before{
                    content: "";
                    display: block;
                    height: 3px;
                    width: 100%;
                    margin: 15px auto;
                    margin-bottom: 45px;                    
                    max-width: 200px;
                        /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#2c2e34+0,ff765a+26,ff765a+49,ff765a+71,2c2e34+100 */
                    background: #2c2e34; /* Old browsers */
                    background: -moz-linear-gradient(left,  #2c2e34 0%, #ff765a 26%, #ff765a 49%, #ff765a 71%, #2c2e34 100%); /* FF3.6-15 */
                    background: -webkit-linear-gradient(left,  #2c2e34 0%,#ff765a 26%,#ff765a 49%,#ff765a 71%,#2c2e34 100%); /* Chrome10-25,Safari5.1-6 */
                    background: linear-gradient(to right,  #2c2e34 0%,#ff765a 26%,#ff765a 49%,#ff765a 71%,#2c2e34 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2c2e34', endColorstr='#2c2e34',GradientType=1 ); /* IE6-9 */

                }
            }
        }
    }
}

.step-header{
    ul{
        margin: 0;
        padding: 62px 0;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        @media (min-width:768px){
            flex-direction: row;
        }
        li{
            display: inline-block;
            font-size: 18px;
            position: relative;
            margin: 5px 0;
            @media (min-width:768px){
                & + li{
                    &:before{
                        content: "";
                        height: 180px;
                        display: block;
                        width: 55px;
                        background: url('../img/vertical-separator.jpg');
                        position: absolute;
                        left: -60px;
                        top: -70px;
                        z-index: -1;
                    }
                }
            }
            
           
        }
    }
}



//wallets ui
@media (max-width:768px){
    .phone{
        margin-top: -500px;
        right: -200px;
        position: absolute;
    }
    .footer-wallet{
        position: relative;
    }
}

.footer-wallet {
    background-color: darken($dark ,5%);
    color: rgba($white, .3);
    a{
        color: rgba($white, .4);
        display: inline-block;
        margin: 0 8px;
    }
}

//register page
.register{
    @media (max-width:768px){
        
        .card{
            background: transparent;
        }
    }
}
