



<script src="js/all.js"></script>

<script>
    $(".navbar-nav li a").click(function() {   
          $(".navbar-collapse").toggleClass("show");
         
        });
</script>

<script src="js/wow.min.js"></script> 
<script>
wow = new WOW(
    {
    boxClass:     'wow',      // default
    animateClass: 'animated', // default
    offset:       10,          // default
    mobile:       false,       // default
    live:         true        // default
}
)
wow.init();
</script> 
</body>
</html>
